@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter" sans-serif !important;
}
.react-calendar__navigation__label_labelText {
  font-weight: 600 !important;
}

.react-calendar__tile--active {
  background-color: #c3ebfa !important;
  color: black !important;
}

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #d8f0f8 !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background: #b0e2f5 !important;
}

.rbc-time-view {
  border-color: #eee !important;
}

.rbc-time-header {
  display: none !important;
}
.rbc-time-content {
  border: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0 20px !important;
}

.rbc-timeslot-group {
  background-color: #ecfaff !important;
}

.rbc-dayslot {
  font-size: 14px !important;
}

.rbc-event {
  bottom: none !important;
  color: black !important;
  padding: 10px !important;
  margin: 10px !important;
  width: 99% !important;
  border: 1px solid #80acb5 !important;
}

.rbc-event:nth-child(1) {
  background-color: #b0e2f5 !important;
}
.rbc-event:nth-child(2) {
  background-color: #fff9b8 !important;
}
.rbc-event:nth-child(3) {
  background-color: #c7c4ed !important;
}
.rbc-event:nth-child(4) {
  background-color: #edb5e2 !important;
}
.rbc-event:nth-child(5) {
  background-color: #b0e2f5 !important;
}
.rbc-event:nth-child(6) {
  background-color: #fff9b8 !important;
}

.rbc-event-label {
  color: gray !important;
  margin-bottom: 5px !important;
}
